/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.App {
  text-align: center;
}

/* Header styles 4caf50*/
header {
  background-color: #4caf50;
  color: white;
  padding: 10px 0;
}

/* Navigation styles */
nav {
  margin: 20px 0;
}

nav a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

nav a:hover {
  color: lavender;
}

/* Page container styles */
.page-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input,
form button {
  width: 100%;
  max-width: 300px;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

/* Button styles */
button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* List styles */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}
